.onHeader {
    /* position: absolute; */
    width: 100%;
    /* top: 0; */
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.59) 0%, rgba(196, 196, 196, 0) 938.59%);
    padding: 10px 0;
}

.menuHeader {
    display: flex;
    list-style-type: none;
    padding: 18px 0 0 0;
    margin: 0;
    justify-content: center;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 0.85vw;
    color: white;
    letter-spacing: 0.02em;
}

.menuHeader li > a {
    color: unset;
    text-decoration: none;
}

.menuHeader li > a:hover {
    cursor: pointer;
}

.contactsHeader {
    color: white;
    font-family: 'Ubuntu';
    padding: 13px 0 0 15px;
}


.contactsHeader > div:nth-child(2) {
    font-family: 'OpenSans';
    font-style: normal;
    font-size: 0.82vw;
}

.contactsHeader > div:nth-child(1) {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
}

.logoHeader {
    background-image: url("../img/top/desktop/white.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    margin-right: 7vw;
}

.logoHeader > span > div:nth-child(1) {
    font-family: 'Raleway';
    letter-spacing: 1px;
    padding: 5px 0 0 20px;
    margin-bottom: -8px;
    font-size: 4.5px;
}

.logoHeader > span > div:nth-child(2) {
    font-family: 'MarckScript';
    font-size: 21.25px;
}

.contactsHeader > div:hover {
    opacity: .5;
    transition: .5s;
    cursor: pointer;
}

