/* 1024 x 600 */
@media screen and (min-width: 1000px) and (min-height: 450px) {

    .couple-text {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 8.125vw;
        padding-right: 8.125vw;
    }

    .couple-text > span {
        font-size: 1.6vw;
        font-family: "Ubuntu-Light";
        width: 45%;
        text-align: start;
    }

}

/* 1280 x 768 */
@media screen and (min-width: 1250px) and (min-height: 618px) {



}

/* 1366 x 768 */
@media screen and (min-width: 1320px) and (min-height: 618px) {

 

}   

/* 1600 x 900 */
@media screen and (min-width: 1550px) and (min-height: 650px) {

   

}   